.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#fondo{
    width: 1920px;
    height: 1000px;
    background-image: url(imagenes/Bienvenido.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.button {
    color: rgba(255, 255, 255, 1);
    background-color: red;
    font-family: 'Segoe UI';
    font-weight: SemiBold;
    font-size: 1.5vw;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;top: 100%;
}