{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">


    <title>Formulario INFORMES</title>

</head>
<body>
    <div class="flex-center">
        <div id="fondo">
            <div>
                <a class="menuinactivoinf" href="{% url 'recp_pupa_form' %}">RECP PUPA</a>
                <a class="menuinactivo1inf" href="{% url 'produccion' %}">PRODUCCIÓN</a>
                <a class="menuinactivo2inf" href="{% url 'liberacion' %}">LIBERACIÓN</a>
                <a class="menuactivoinf" href="{% url 'informes' %}">INFORMES</a>
            </div>
          
                
        
            
            
            <!-- Formulario de Filtros -->
            <div class="forminfo">
                <h1 id="titulo-filtro">Informe de Resultados</h1>
            <form method="post" action="{% url 'filtrar_informes' %}">
                {% csrf_token %}
                <label for="fecha_inicio">Fecha de Inicio:</label>
                <input type="date" name="fecha_inicio" required>
        
                <label for="fecha_fin">Fecha de Fin:</label>
                <input type="date" name="fecha_fin" required>
        
                <label for="categoria">Categoría:</label>
                <select name="categoria" required>
                    <option value="recp_pupa">RECP PUPA</option>
                    <option value="produccion">Producción</option>
                    <option value="liberacion">Liberación</option>
                </select>
        
                <button type="submit">Filtrar</button>
            </form>
        
            <!-- Tabla de Resultados -->
            
            <h2>Tabla de Resultados</h2>
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Sector</th>
                        <!-- Agrega otras columnas según tus modelos -->
                    </tr>
                </thead>
                <tbody>
                    {% for resultado in resultados %}
                        <tr>
                            <td>{{ resultado.fecha_horarios }}</td>
                            <td>{{ resultado.sector }}</td>
                            <!-- Agrega otras celdas según tus modelos -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        
            <!-- Puedes agregar gráficos u otros elementos visuales aquí -->
        
            <!-- Puedes incluir scripts específicos de esta página aquí, si es necesario -->
        
        
        </div>    
    </div>
</div>
</body>
</html>