{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flex-center">
        <div id="fondo">

        <h1 id="titulologin">¡Bienvenido a ISCAPP!</h1>
        
        <div class="form" >
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="buttonform" type="submit">Iniciar sesión</button>
            </form>

        </div>
        <div>
            <h5 id="socalologin"><a href="#" onclick="alert('Comuníquese con AlvearConecta para recuperar su contraseña.');">Olvidé mi contraseña</a></h5>
            
        </div>
        </div>
        
    </div>
</body>