{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <title>Formulario PRODUCCIÓN</title>
    {{ produccion_form.media }}
</head>
    <body>
        <div class="flex-center">
            <div id="fondo">
                <div>
                    <a class="menuinactivoprod" href="{% url 'recp_pupa' %}">RECP PUPA</a>
                    <a class="menuactivoprod" href="{% url 'produccion' %}">PRODUCCIÓN</a>
                    <a class="menuinactivo1prod" href="{% url 'liberacion' %}">LIBERACIÓN</a>
                    <a class="menuinactivo2prod" href="{% url 'informes' %}">INFORMES</a>
                </div>
                <div class="formprod">
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <label for="{{ produccion_form.fecha.id_for_label }}">Fecha:</label>
                            {{ produccion_form.fecha }}
                            <label for="{{ produccion_form.lotes.id_for_label }}">Lotes:</label>
                            {{ produccion_form.lotes }}
                        </div>
                        <div class="input-group">
                            <label for="{{ produccion_form.millones_procesados.id_for_label }}">Millones Procesados:</label>
                            {{ produccion_form.millones_procesados }}
                            <label for="{{ produccion_form.cantidad_torres.id_for_label }}">Cantidad de Torres:</label>
                            {{ produccion_form.cantidad_torres }}
                        </div>
                        <button class="buttonformprod" type="submit">Finalizar</button>
                    </form>
                    <a href="{% url 'login' %}" class="buttonsalir">Salir</a>
                </div>
            </div>
        </div>
</body>
</html>